<html ng-app="app">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1"><!-- Optimize mobile viewport -->

    <title>Node/Angular Todo App</title>

    <!-- SPELLS -->

</head>
<!-- SET THE CONTROLLER AND GET ALL TODOS -->
<body data-ng-controller="defaultCtrl">

<div>
    </div>
        Pokaz / ukryj przyciski
        <input type="checkbox" data-ng-model="showButtons"/> <br/>
        Pokaz / ukryj liste rozwijana
        <input type="checkbox" data-ng-model="selectionList"/> <br/>
    </div>
</div>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.8/angular.min.js"></script>
    <script src="app.js"></script>
</body>
</html>
